{% extends 'base.html.twig' %}

{% block title %}Mi blog{% endblock %}

{% block body %}
    <h1 class="mt-3">Mis artículos</h1>
    {% for post in post_list %}
        <section class="post">
            <article>
                <h2>{{ post.title }}</h2>
                <div class="metadata">
                    {{ post.createdAt | date('d/m/Y') }} a las {{ post.createdAt | date('H:i') }} por {{ post.author.name }}
                </div>
                <div class="content">
                    <p>{{ post.body|nl2br }}</p>
                    <a href="{{ path('app_post_get', {id: post.id}) }}" type="button" class="btn btn-primary">Leer más</a>
                </div>
            </article>
        </section>
    {% endfor %}
{% endblock %}
