.post {
    border-radius: 10px;
    box-shadow: 0 20px 16px rgba(0,0,0,0.25);
    margin-bottom: 30px;
    padding: 20px;
}

.author-data {
    border-top: 1px solid lightgrey;
    padding-bottom: 1em;
    padding-top: 1em;
}

.metadata {
    color: lightgrey;
}
