{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <section class="post">
        <article>
            <h1 class="mt-3">{{ post.title }}</h1>
            <div class="metadata">
                {{ post.createdAt | date('d/m/Y') }} a las {{ post.createdAt | date('H:i') }} por {{ post.author.name }}
            </div>
            <div class="content">
                <p>{{ post.body|nl2br }}</p>
            </div>
            <div class="author-data">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <h5>Autor</h5>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.author.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ post.author.username }}</h6>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>email:</b> {{ post.author.email | default('') }}</li>
                                    <li class="list-group-item"><b>web: </b>{{ post.author.website | default ('') }}</li>
                                    <li class="list-group-item"><b>Teléfono: </b>{{ post.author.phone | default ('') }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}
